<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shensu.mybatis.mapper.noticeMapper.NoticeMessMapper">

   <select id="queryNoticeBySchIdAndType" resultType="com.shensu.mybatis.entity.notice.NoticeMess">
      select schId ,noticeType,noticeContent
      from nur_notice
      where schId=#{schId}
      <if test="noticeTypes!=null and noticeTypes.length>0">
         and noticeType in
         <foreach collection="noticeTypes" item="noticeType" separator="," open="(" close=")">
            #{noticeType}
         </foreach>
      </if>
   </select>

    <select id="queryNoticeBySchId" resultType="com.shensu.mybatis.entity.notice.NoticeMess">
        select schId ,noticeType,noticeContent
        from nur_notice
        where schId=#{schId}
    </select>

   <insert id="saveNoticeMess" parameterType="com.shensu.mybatis.entity.notice.NoticeMess">
     insert into  nur_notice(schId,noticeType,noticeContent)
     values(#{schId},#{noticeType},#{noticeContent})
   </insert>

    <insert id="bachInsertNotice" parameterType="com.shensu.mybatis.entity.notice.NoticeMess">
        insert into  nur_notice(schId,noticeType,noticeContent) values
        <foreach collection="list" item="bean" separator=",">
        (#{bean.schId},#{bean.noticeType},#{bean.noticeContent})
        </foreach>
    </insert>

   <update id="updateNoticeMess" parameterType="com.shensu.mybatis.entity.notice.NoticeMess">
       update nur_notice set noticeContent=#{noticeContent}
       where schId=#{schId} and noticeType=#{noticeType}
   </update>
</mapper>
